body {
    
    background-color: #DBE9EE;
}
.btn {
    margin-bottom: 1px;
    background-color: #92AFD7;
    font-size: 24px;
    color: #DBE9EE;
}

.navbar {
    background-color: #36382E;
}

#quoteOfTheDay {
    background-color: white;
}

#content {
    background-color: #BEE7E8;
}

#portfolio {
    background-color: white;
    overflow-y: scroll;
    max-height: 1000px;
}
blockquote {
    font-size: 24px;
}